@page "/"

    <PageContent HeaderText="صفحه اصلی">

        <Box Title="متنی که در عنوان باکس می‌آید">
            <BoxContent>
                <h1>Hello, world!</h1>

                Welcome to your new app.

                <SurveyPrompt Title="How is Blazor working for you?" />
            </BoxContent>
            <BoxFooter>
                متنی که در فوتر قرار می‌گیرید
            </BoxFooter>
        </Box>

    </PageContent>


