@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form method="post" action="https://localhost:44309/home/Transfer">
    <input type="hidden" value="5" name="destination"/>
    <input type="submit" value="کیلیک کنید و پولدار شوید"/>
</form>