<form asp-action="List">
    <div>
        <input class="form-control" type="text" name="data" />
    </div>
    <div>
        <input class="form-control" type="text" name="data" />
    </div>
    <div>
        <input class="form-control" type="text" name="data" />
    </div>
    <div>
        <input class="form-control" type="text" name="data" />
    </div>
    <input type="submit" value="Save" class="btn btn-success" />
</form>
<hr />

<form asp-action="OrderdList">
    <div>
        <input class="form-control" type="text" name="data[0]" />
    </div>
    <div>
        <input class="form-control" type="text" name="data[2]" />
    </div>
    <div>
        <input class="form-control" type="text" name="data[1]" />
    </div>
    <div>
        <input class="form-control" type="text" name="data[3]" />
    </div>
    <input type="submit" value="Save" class="btn btn-success" />
</form>
<hr />

<form asp-action="Dict">
    <div>
        <input class="form-control" type="text" name="data[FirstName]" />
    </div>
    <div>
        <input class="form-control" type="text" name="data[LastName]" />
    </div>
    <div>
        <input class="form-control" type="text" name="data[SSN]" />
    </div>
    <div>
        <input class="form-control" type="text" name="data[Provience]" />
    </div>
    <input type="submit" value="Save" class="btn btn-success" />
</form>