@model int
<table class="table table-bordered table-striped table-dark">
    <thead>
        <tr>
            <th>
                تعداد کل
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model</td>
        </tr>
    </tbody>
</table>
