@model Person

<!--<form>
    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input aro-for="FirstName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" />
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="FirstName">Last Name</label>
        <input aro-for="LastName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" />
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="FirstName">Age</label>
        <input aro-for="Age" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" />
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <button type="submit" aro-button-color="primary" >Submit</button>
    <a aro-button-color="danger" href="#" >خطرناکه</a>
    <button type="submit">Problem</button>

</form>-->-->
<!--@*<div class="alert alert-danger"></div>*@-->
<!--<alert-danger>این یک خطا است که قرار است نمایش داده شود</alert-danger>-->
<!--<prevent-render aro-render="false">
    <div class="alert alert-danger" aro-after-content-text="متنی که بعد از متن اصلی می‌آید" aro-befor-content-text="متنی که قبل از متن اصلی می‌آید" aro-befor-tag-text="متنی که قبل از تگ اصلی نمایش داده می‌شود" aro-after-tag-text="متنی که بعد از تگ اصلی نمایش داده می‌شود">متن اصلی داخل صفحه</div>

</prevent-render>

<environment names=""></environment>-->

<cache expires-after="TimeSpan.FromSeconds(10)">@DateTime.Now</cache>
