<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <NavLink href="/" class="nav-link">
                <i class="nav-icon far fa-home text-info"></i>
                <p>صفحه اصلی</p>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="tags" class="nav-link">
                <i class="nav-icon far fa-tags text-info"></i>
                <p>مدیریت تگ‌ها</p>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="tagsMvvm" class="nav-link">
                <i class="nav-icon far fa-tags text-info"></i>
                <p>مدیریت تگ‌ها2</p>
            </NavLink>
        </li>
        <li class="nav-header">دستور‌های پخت</li>

        <li class="nav-item">
            <NavLink href="add-recipe" class="nav-link">
                <i class="nav-icon far fa-file text-info"></i>
                <p>افزودن دستور پخت</p>
            </NavLink>
        </li>
    </ul>
</nav>