@page "/tagsMvvm"
@inject ITagPageViewModel vm;

<PageContent HeaderText="مدیتریت تگ‌ها">
    <Box Title="ثبت تگ">
        <BoxContent>
            <EditForm Model="vm.TagForSave" OnValidSubmit="vm.SaveTag">
                <div class="input-group ">
                    <InputText @bind-Value="@vm.TagForSave.Title" class="form-control"></InputText>

                    <span class="input-group-append">
                        <button class="btn btn-danger btn-flat" type="button" @onclick="(_=>vm.TagForSave = new Tag())">بازنشانی</button>
                        <button class="btn btn-info btn-flat" type="submit">ثبت</button>
                    </span>
                </div>
            </EditForm>
        </BoxContent>
    </Box>

    <Box Title="لیست تگ‌ها">
        <BoxContent>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 350px">شناسه</th>
                        <th>عنوان</th>
                        <th style="width: 40px">ویرایش</th>
                        <th style="width: 40px">حذف</th>
                    </tr>
                </thead>
                <tbody>
                    @if (vm.Tags != null && vm.Tags.Count > 0)
                    {
                        @foreach (var item in vm.Tags)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Title</td>
                                <td>
                                    <button class="btn btn-info" @onclick="(_ => vm.TagForSave = item)">ویرایش</button>
                                </td>
                                <td>
                                    <button class="btn btn-danger" @onclick="(_ => vm.TagForSave = item)">حذف</button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">داده‌ای یافت نشد...!</td>
                        </tr>
                    }

                </tbody>
            </table>
        </BoxContent>
    </Box>
</PageContent>
@code {

    protected override async Task OnInitializedAsync()
    {
        await vm.InitializeViewModel();
    }

}
